# Cloudinary Configuration
NEXT_PUBLIC_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_service_key

# Store Config
STORE_CITY=Fortaleza
STORE_STATE=CE
STORE_ORIGIN_CEP=60000000

# JWT
JWT_SECRET=your_jwt_secret_key
